public/storage
node_modules
vendor
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.staging
.env.production
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache